<tr id="catch_<%= catch.id %>">
  <td>
    <%= link_to "Info", data: { toggle: "modal", target: "#ModalFishInfo-#{catch.fish.id}" },
        class: "btn btn-flat" do %>
      <%= catch.fish.common_name %>
    <% end %>

    <!-- Modal Fish Info -->
    <div class="modal fade" id="ModalFishInfo-<%= catch.fish.id %>" role="dialog">
      <%= render "fish/modal-info", catch: catch %>
    </div>
  </td>

  <td><%= catch.quantity %></td>
  <td><%= catch.weight.fdiv(1000).round(1).tap { |n| break n.to_i == n ? n.to_i : n } %></td>

  <td>
    <%= link_to "Delete", data: { toggle: "modal", target: "#ModalDeleteCatch#{catch.id}" } do %>
      <i class="far fa-trash-alt"></i>
    <% end %>

    <!-- Modal Delete Catch -->
    <div class="modal modal-delete fade" id="ModalDeleteCatch<%= catch.id %>" role="dialog">
      <%= render "catches/form-delete", catch: catch %>
    </div>
  </td>
</tr>
