<tr id="catch_<%= catch.id %>">
  <td>
    <!-- Fish name -->
    <%= link_to "Info", data: { toggle: "modal", target: "#ModalFishInfo#{catch.fish.id}" } do %>
      <%= catch.fish.name %>
    <% end %>

    <!-- Modal Fish Info -->
    <div class="modal fade" id="ModalFishInfo<%= catch.fish.id %>" role="dialog">
      <%= render "fish/modal-info", catch: catch %>
    </div>
  </td>

  <td><%= catch.quantity %></td>
  <td><%= rounded_by_thousand(catch.weight) %></td>

  <td>
    <!-- Delete button -->
    <%= link_to "Delete", data: { toggle: "modal", target: "#ModalDeleteCatch#{catch.id}" } do %>
      <i class="far fa-trash-alt"></i>
    <% end %>

    <!-- Modal Delete Catch -->
    <div class="modal modal-delete fade" id="ModalDeleteCatch<%= catch.id %>" role="dialog">
      <%= render "catches/form-delete", catch: catch %>
    </div>
  </td>
</tr>
