<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Catch</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <%= simple_form_for([@log, catch], remote: true) do |f| %>
        <div class="container-catch-form">
          <table>
            <tr>
              <th><%= f.label :quantity, "Qnt." %></th>
              <th><%= f.label :fish, "Species name" %></th>
              <th><%= f.label :weight %></th>
            </tr>

            <tr>
              <td>
                <input class="form-control numeric integer" value="<%= catch.quantity || 1 %>"
                       name="catch[quantity]" id="catch_quantity">
              </td>

              <td>
                <select class="form-control" name="catch[fish_id]" id="catch_fish_id">
                  <% if catch.fish.nil? %>
                    <option>Please Select</option>
                  <% end %>

                  <% Fish.all.sort_by(&:name).each do |fish| %>
                    <option <%= "selected=selected" if fish == catch.fish %> value="<%= fish.id %>">
                      <%= fish.name %>
                    </option>
                  <% end %>
                </select>
              </td>

              <td>
                <input class="form-control numeric integer" placeholder="gr" value="<%= catch.weight %>"
                       name="catch[weight]" id="catches_weight">
              </td>
            </tr>
          </table>

          <div class="invalid-feedback catch_quantity_error catch_fish_id_error catches_weight_error"></div>

          <%= f.button :submit, class: "btn btn-flat btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
