<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Catch</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <%= simple_form_for([@log, catch], remote: true) do |f| %>
        <div class="container-catch-form">
          <table>
            <tr>
              <th> <%= f.label :quantity, "Qnt." %> </th>
              <th> <%= f.label :fish, "Species name" %> </th>
              <th> <%= f.label :weight %> </th>
            </tr>

            <tr>
              <td style="width: 60px">
                <div class="form-group integer required catch_quantity">
                  <input class="form-control numeric integer required" value="<%= catch.quantity || 1 %>"
                         name="catch[quantity]" id="catch_quantity">
                </div>
              </td>

              <td style="width: 280px">
                <div class="form-group select required catch_fish">
                  <select class="form-control"  name="catch[fish_id]" id="catch_fish_id">
                    <% if catch.quantity.nil? %>
                      <option>Please Select</option>
                    <% end %>

                    <% Fish.all.sort_by(&:name).each do |fish| %>
                      <option <%= "selected=selected" if fish == catch.fish %> value="<%= fish.id %>">
                        <%= fish.name %>
                      </option>
                    <% end %>
                  </select>
                </div>
              </td>

              <td style="width: 100px">
                <div class="form-group integer required catch_weight">
                  <input class="form-control" placeholder="gr" type="number" step="1" value="<%= catch.weight %>"
                         name="catch[weight]" id="catch_weight">
                </div>
              </td>
            </tr>
          </table>

          <%= f.button :submit, class: "btn btn-flat btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
