<%= simple_form_for [@log, @catch] do |f| %>
  <div class="container-catch-form">
    <table>
      <tr>
        <th> <%= f.label :quantity, "Qnt." %> </th>
        <th> <%= f.label :fish, "Species name" %> </th>
        <th> <%= f.label :weight %> </th>
      </tr>

      <tr>
        <td style="width: 60px; padding-right: 2px"> <%= f.input :quantity, label: false, input_html: { value: f.object.quantity || '1' } %> </td>
        <td style="width: 280px; padding-right: 2px"> <%= f.association :fish, label_method: :common_name, label: false, prompt: "Please select" %> </td>
        <td style="width: 100px; padding-right: 2px"> <%= f.input :weight, label: false, placeholder: "gr" %> </td>
      </tr>
    </table>
    <%= f.button :submit, class: "btn btn-flat btn-block" %>
  </div>
<% end %>
