<% content_for :content do %>
  <canvas id="fish-tank"></canvas>
<% end %>

<!-- User profile banner -->
<div class="banner text-center">
  <%= large_avatar(current_user) %>

  <h4>Welcome <%= current_user.username.capitalize %> !</h4>

  <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewLog" }, class: "btn btn-ghost" do %>
    <h6>CREATE LOG</h6>
    <%= image_tag "rod.png" %>
  <% end %>
</div>

<!-- User top Locations -->
<ul class="locations-container">
  <div class="d-flex">
    <%= image_tag "chair.png" %>

    <%= link_to locations_path, style: "opacity: 1; padding: 0" do %>
      <h3>My Locations</h3>
    <% end %>

    <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewLocation" } do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

  <!-- List of the User top 3 Locations -->
  <div id="locations-list">
    <% if @top_locations.empty? %>
      <p class="no-data">No locations saved yet</p>

    <% else %>
      <%= render partial: "locations/location", collection: @top_locations %>
    <% end %>
  </div>
</ul>

<!-- Feed of curiosities -->
<div class="feed-container">
  <h5>Did you know ?</h3>
  <p><%= @feed_item %></p>
</div>

<!-- User stats -->
<div class="stats-container">
  <div>
    <%= current_user.logs_count %>
    <p>LOGS</p>
  </div>

  <div>
    <%= current_user.catches_count %>
    <p>FISH</p>
  </div>
</div>

<!-- User top Fish caught -->
<% unless @top_fish.empty? %>
  <ul class="top-fish">
    <h5>Most caught fish</h5>

    <% @top_fish.each_with_index do |fish, index| %>
      <li>
        <p>
          <%= "#{index + 1}." %>
          <i><%= fish[:name] %></i>
          <%= "- #{fish[:catches_count]}" %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<!-- Modal Locations#new -->
<div class="modal fade" id="ModalNewLocation" role="dialog">
  <%= render "locations/form", location: Location.new %>
</div>

<!-- Modal Logs#new -->
<div class="modal fade" id="ModalNewLog" role="dialog">
  <%= render "logs/form", log: Log.new %>
</div>
