<div class="banner text-center">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  <h4><%= current_user.username.capitalize%></h4>
</div>

<div style="padding: 20px">
  <div class="buttons mt-3">
    <h6><%= link_to "PREDICTION", "#", class: "btn btn-flat btn-block" %></h6>
    <h6><%= link_to "LOGS", logs_path, class: "btn btn-flat btn-block" %></h6>
  </div>

  <ul class="list-border-top">
    <div style="display: flex; justify-content: space-between">
      <h3>Locations</h3>

      <%= link_to "Create", data: { toggle: "modal", target: "#ModalCreateLocation" }, style: "color: #010038" do %>
        <i class="fas fa-plus" style="font-size: 30px"></i>
      <% end %>
    </div>

    <% if current_user.locations.empty? %>
      <p style="margin: 0">No locations saved yet</p>

    <% else %>
      <% current_user.locations.to_a.sort_by { |location| location.logs.count }.reverse[0..4].each do |location| %>
        <li>
          <h6><%= location.site %></h6>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalCreateLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add location</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= render "locations/form", location: Location.new %>
      </div>
    </div>
  </div>
</div>
