<div class="background-container"><canvas width="375" height="760" class="fish-tank" id="fishtank"></div>
<div style="position: sticky">
<div class="banner text-center">
  <%= image_tag "https://i.pinimg.com/564x/b5/e2/86/b5e2861637b9d93ad1c5cc7761e65834.jpg", class: "avatar-large", alt: "avatar-large" %>
  <h4><%= current_user.username.capitalize%></h4>
</div>

<div style="padding: 20px">
  <div class="buttons mt-3">
    <h6><%= link_to "PREDICTION", "ranking", class: "btn btn-flat btn-block" %></h6>

    <%= link_to "Create", id: "modal-button", data: { toggle: "modal", target: "#ModalNewLog" },  class: "btn btn-flat btn-block" do %>
      <h6>CREATE LOG</h6>
    <% end %>
  </div>

  <ul class="list-border-top">
    <div style="display: flex; justify-content: space-between">

      <h3>My Locations</h3>


      <%= link_to "Create", data: { toggle: "modal", target: "#ModalCreateLocation" }, style: "color: #010038" do %>
        <i class="fas fa-plus" style="font-size: 30px"></i>
      <% end %>
    </div>

    <% if current_user.locations.empty? %>
      <p style="margin: 0">No locations saved yet</p>

    <% else %>
      <% current_user.locations.to_a.sort_by { |location| location.logs.count }.reverse[0..2].each do |location| %>
        <li>
          <div style="display: flex; justify-content: space-between">
            <h6 style="font-size: 16px; margin: 6px 10px 0 0">
              <% if location.logs.count.zero? %>
                (no logs)
              <% elsif location.logs.count == 1%>
                (1 log)
              <% else %>
                <%= "(#{location.logs.count} logs)" %>
              <% end %>

              <strong style="font-size: 18px"><%= location.name.match(/^[^,]*/)[0].truncate(18) %></strong>
            </h6>

            <% weather_data = Rails.configuration.open_weather_api.current lon: location.longitude , lat: location.latitude %>

            <div style="background-image: url(http://openweathermap.org/img/wn/<%= weather_data["weather"][0]["icon"] %>@2x.png); background-position: center; background-repeat: no-repeat; background-size: 58px 58px;-webkit-user-select: none; width: 35px; height: 35px">
            </div>
          </div>

          <h6 style="font-size: 16px; margin-left: 10px; font-weight: 400">- <%= location.site %></h6>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

</div>

<!-- Modal Create Location Form -->
<div class="modal fade" id="ModalCreateLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add location</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= render "locations/form", location: Location.new %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Create Log Form -->
<div class="modal fade" id="ModalNewLog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color: #010038">New Log</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= render "logs/form-new", log: Log.new %>
      </div>
    </div>
  </div>
</div>
