<nav id="bottom-nav">
  <ul id="bottom-list" class="flex-container">
    <li class="<%= 'active' if (controller_name == 'users' && action_name == 'show') %>">
      <%= link_to root_path do %>
        <% if (controller_name == 'users' && action_name == 'show') then image_tag "hook-logo-colored.png" %>
        <% else image_tag "hook-logo.png" %>
        <% end %>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'fish' %>">
      <%= link_to fish_index_path do %>
        <figure>
          <i class="fas fa-ruler-combined"></i>
          <figcaption>Fish</figcaption>
        </figure>
      <% end %>
    </li>

    <li class="<%= 'active' if (controller_name == 'users' && action_name == 'prediction') %>">
      <%= link_to prediction_path do %>
        <figure>
          <i class="fas fa-calculator"></i>
          <figcaption>Prediction</figcaption>
        </figure>
      <% end %>
    </li>

    <li class="<%= 'active' if controller_name == 'logs' %>">
      <%= link_to logs_path do %>
        <figure>
          <i class="fas fa-stream"></i>
          <figcaption>Logs</figcaption>
        </figure>
      <% end %>
    </li>

    <li class="navbar-light dropdown">
      <button class="navbar-toggler" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Locations", locations_path, class: "dropdown-item" %>
        <%= link_to "Profile",   root_path, class: "dropdown-item" %>
        <%= link_to "Edit",      edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Log out",   destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</nav>
