<div class="page-title">
  <h1>Current</h1>
  <h1>Best Spots</h1>
</div>

<!-- If there are no predictions, then... -->
<% if @prediction.empty? %>
  <div class="card no-data">
    <h3>No good locations</h3>
    <h5>Take this as an opportunity to find new spots</h5>
  </div>

<!-- Otherwise, display each prediction as a card -->
<% else %>
  <div class="card" style="text-align: center; padding: 10px">
    <p style="margin: 0">Prediction of weight of fish to be caught in a 5h session</p>
  </div>

  <% @prediction.each_with_index do |data, index| %>
    <div class="card" style="margin-bottom: 20px">
      <div class="prediction-location">
        <div class="d-flex align-items-center">
          <h3><%= index + 1 %></h3>

          <div class="prediction-location-headers">
            <h3><%= data[:location][:name] %></h3>
            <h5 class="locations-spot"><%= data[:location][:spot] %></h5>
          </div>
        </div>

        <div style="background-image: url(http://openweathermap.org/img/wn/<%= data[:prediction][:weather_icon] %>@2x.png)"
             class="weather-icon">
        </div>
      </div>

      <div class="prediction-stats">
        <!-- Prediction of weight of fish to be caught in a 5h session -->
        <p class="tooltip">
          <%= rounded_weight(data[:prediction][:weight_caught] * 5) %>
          <span class="tooltiptext">Weight Prediction</span>
        </p>

        <!-- Mean absolute percentage error of the predictive model -->
        <p class="tooltip">
          <i class="fas fa-exclamation-circle"></i>
          <%= "#{data[:prediction][:percentage_error]}%" %>
          <span class="tooltiptext">Mean Error</span>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
