<div style="padding: 20px">
  <div style="display: flex; flex-direction: column; text-align: center">
    <div class="page-title" style="margin-bottom: 0">
      <div>
        <h2 style="margin-bottom: 0; margin-top: 10px; font-size: 20px; color: rgba(255, 255, 255, 0.9)">
          Current
        </h2>
        <h2>Best Spots</h2>
      </div>
    </div>
  </div>

  <% if @top_3_locations.empty? %>
    <div class="log-card" style="text-align: center">
      <h3 style="font-size: 24px; margin-bottom: 12px; line-height: 32px">
        No good locations at the moment
      </h3>

      <h5 style="font-size: 18px; color: #9BDDF9; line-height: 28px">
        Take this opportunity to explore new spots!
      </h5>
    </div>

  <% else%>
    <div class="log-card" style="background-color: transparent; text-align: center; padding: 0">
      <p style="font-weight: 300; font-size: 16px; margin-bottom: 0">
        Prediction of number and total weight of fish caught for a 5h session
      </p>
    </div>

    <% @top_3_locations.each_with_index do |location, index| %>
      <div class="log-card" style="padding: 10px">
        <div style="display: flex; justify-content: space-around; align-items: center; padding: 0 5px">
          <div style="display:flex; align-items: center">
            <h2 style="font-size: 70px; padding-right: 10px"><%= index + 1 %></h2>

            <div style="border-left: 5px solid #BDEBFF; padding-left: 8px">
              <h3 style="font-size: 24px; margin-bottom: 2px">
                <%= Location.find(location[0]).name_to_display %>
              </h3>
              <h5 class="loc-site" style="margin-bottom: 2px; text-indent: 5px">
                <%= Location.find(location[0]).site %>
              </h5>
            </div>
          </div>
 
          <div style="font-size: 20px; text-align: center; color: rgba(255, 255, 255, 0.9)">
            <div>
              <div style="background-image: url(http://openweathermap.org/img/wn/<%= @all_location_stat_hash[location[0]][:weather_icon] %>@2x.png); background-position: center; background-repeat: no-repeat;-webkit-user-select: none; width: 70px; height: 50px; margin-left: 10px"></div>
            </div>
          </div>
        </div>
      
        <div style="font-size: 20px; display: flex; background-color: rgba(155, 221, 249, 0.3); justify-content: space-around; padding: 0 50px; color: rgba(255, 255, 255, 0.9)">
          <div>
            <%= (@all_location_stat_hash[location[0]][:num_predicted_per_hour] * 5).round %> fish
          </div>

          <% if (@all_location_stat_hash[location[0]][:gr_predicted_per_hour] * 5) >= 1000 %>
            <div><%= ((@all_location_stat_hash[location[0]][:gr_predicted_per_hour] / 1000) * 5).round(1) %> kg</div>
          <% else %>
            <div><%= (@all_location_stat_hash[location[0]][:gr_predicted_per_hour] * 5).round %> gr</div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
