<!-- Get the action the form is being used on -->
<% log_action = log.id.nil? ? "new" : "edit" %>

<div class="modal-dialog modal-dialog-centered" style="min-height: calc(90% - 1rem)">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= log_action.capitalize %> Log</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <%= simple_form_for(log, remote: true) do |f| %>
        <div class="container-log-form">
          <!-- Location -->
          <div class="form-group select required log_location d-flex" style="margin-bottom: 4px">
            <label class="select required" for="log_location_id">
              Location
              <abbr title="required">*</abbr>
            </label>

            <select class="form-control select required" name="log[location_id]" id="log_location_id">
              <% if log.location.nil? %>
                <option>Please Select</option>
              <% end %>

              <% current_user.locations.sort_by(&:spot).each do |location| %>
                <option <%= "selected=selected" if location.id == log.location_id %> value="<%= location.id %>">
                  <%= location.spot %>
                </option>
              <% end %>
            </select>
          </div>

          <div class="invalid-feedback location-input"></div>

          <!-- Starting Time -->
          <div class="d-flex">
            <label for="log_start_time">Starting time</label>
            <input type="datetime-local" id="log_<%= log_action %>_start_time" name="log[start_time]"
                   value="<%= (log.start_time.nil? ? Time.now : log.start_time).strftime('%Y-%m-%dT%H:%M') %>">
          </div>

          <!-- Ending Time -->
          <div class="d-flex" style="margin-bottom: 4px">
            <label for="log_end_time">Ending time</label>
            <input type="datetime-local" id="log_<%= log_action %>_end_time" name="log[end_time]"
                  value="<%= (log.end_time.nil? ? Time.now : log.end_time).strftime('%Y-%m-%dT%H:%M') %>">
          </div>

          <div class="invalid-feedback time-input"></div>

          <% unless log.id.nil? %>
            <!-- Air Pressure -->
            <div class="d-flex">
              <label for="log_air_pressure">Air pressure</label>
              <%= f.input :air_pressure, id: "log_air_pressure", placeholder: 'Pa', label: false %>
              <p>Pa</p>
            </div>

            <!-- Wind Speed -->
            <div class="d-flex" style="margin-bottom: 10px">
              <label for="log_wind_speed">Wind speed</label>
              <%= f.input :wind_speed, id: "log_wind_speed", placeholder: 'm/s', label: false %>
              <p>m/s</p>
            </div>
          <% end %>

          <!-- Observations -->
          <%= f.input :observation, label: "Observations", wrapper_html: { style: "margin: 0 10px 30px 0" },
              placeholder: "Leave an observation" %>

          <p>Rate your session</p>

          <!-- Rating as a dynamic filling image -->
          <div class="fish-rating-container">
            <div class="fish-rating">
              <img src="https://res.cloudinary.com/da7rlfd8u/image/upload/v1594265095/eel_axssqv.png"
                   alt="fish-rating">

              <input type="hidden" name="log[rating]" value="">

              <% (1..10).to_a.reverse.each do |num| %>
                <% if log.id.nil? %>
                  <input type="radio" value="<%= num %>" name="log[rating]" id="log_rating_<%= log_action + "_#{num}" %>">
                  <label for="log_rating_<%= log_action + "_#{num}" %>" class="rating<%= num %>"
                         style="left: <%= (num - 1) * 10 %>%">
                  </label>

                <% else %>
                  <% if log.rating == num %>
                    <input type="radio" value= <%= "#{num}" %> name="log[rating]" id="log_rating_<%= num %>" checked>
                  <% else %>
                    <input type="radio" value= <%= "#{num}" %> name="log[rating]" id="log_rating_<%= num %>">
                  <% end %>

                  <label for="log_rating_<%= num %>" class="rating<%= num %>" style="left: <%= (num - 1) * 10 %>%"></label>
                <% end %>

                <label2 class="rating<%= num %>" style="left: <%= (num - 1) * 10 %>%"></label2>
              <% end %>
            </div>

            <div class="fish-rating-bar">
              <% (1..10).to_a.each do |num| %>
                <div class="rating<%= num %>" style="left: <%= (num - 1) * 10 %>%">
                  <%= num %>
                </div>
              <% end %>
            </div>
          </div>

          <!-- Submit Button -->
          <%= f.button :submit, class: "btn btn-flat btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
