<%= simple_form_for(log) do |f| %>
  <div class="fish-rating">
    <img src="https://res.cloudinary.com/dvvuknsmw/image/upload/v1593697820/output-onlinepngtools_asl0qy.png"
      alt="fish-rating" style="position: absolute; z-index: 1; width: 100%; height: 100%;">

    <input type="hidden" name="log[rating]" value="">

    <input type="radio" value="10" name="log[rating]" id="log_rating_10">
    <label for="log_rating_10" class="rating10"></label>
    <label2 class="rating10"></label2>

        <input type="radio" value="9" name="log[rating]" id="log_rating_9">
    <label for="log_rating_9" class="rating9"></label>
    <label2 class="rating9"></label2>

        <input type="radio" value="8" name="log[rating]" id="log_rating_8">
    <label for="log_rating_8" class="rating8"></label>
    <label2 class="rating8"></label2>

    <input type="radio" value="7" name="log[rating]" id="log_rating_7">
    <label for="log_rating_7" class="rating7"></label>
    <label2 class="rating7"></label2>

    <input type="radio" value="6" name="log[rating]" id="log_rating_6">
    <label for="log_rating_6" class="rating6"></label>
    <label2 class="rating6"></label2>

    <input type="radio" value="5" name="log[rating]" id="log_rating_5">
    <label for="log_rating_5" class="rating5"></label>
    <label2 class="rating5"></label2>

    <input type="radio" value="4" name="log[rating]" id="log_rating_4">
    <label for="log_rating_4" class="rating4"></label>
    <label2 class="rating4"></label2>

    <input type="radio" value="3" name="log[rating]" id="log_rating_3">
    <label for="log_rating_3" class="rating3"></label>
    <label2 class="rating3"></label2>

    <input type="radio" value="2" name="log[rating]" id="log_rating_2">
    <label for="log_rating_2" class="rating2"></label>
    <label2 class="rating2"></label2>

    <input type="radio" value="1" name="log[rating]" id="log_rating_1">
    <label for="log_rating_1" class="rating1"></label>
    <label2 class="rating1"></label2>
  </div>

  <div class="container-log-form">
    <label for="log_start_time">Starting time</label>
    <input type="datetime-local" id="log_start_time" name="log[start_time]"
        value="<%=Time.now.strftime('%Y-%m-%dT%H:%M')%>">

    <br>

    <label for="log_end_time">Ending time</label>
    <input type="datetime-local" id="log_end_time" name="log[end_time]"
        value="<%=Time.now.strftime('%Y-%m-%dT%H:%M')%>">

    <%= f.association :location, wrapper_html: { style: "margin: 20px 0 0" }, prompt: "Please select"  %>
    <%= f.input :observation, label: "Observations", wrapper_html: { style: "margin: 20px 0" }, placeholder: "Leave an observation" %>
    <%= f.button :submit, class: "btn btn-flat btn-block" %>
  </div>
<% end %>
