<!-- Title -->
<%= link_to location_path(log.location) do %>
  <div class="page-title">
    <h1><%= log.label %></h1>
    <h2 class="location-address"><%= log.location.address_to_display %></h2>
  </div>
<% end %>

<!-- Date -->
<div class="log-date">
  <% if log.start_time.strftime('%Y-%m-%d') == log.end_time.strftime('%Y-%m-%d') %>
    <i class="far fa-calendar-alt" style="font-size: 26px"></i>

    <p>
      <%= "#{log.start_time.strftime('%b %d, %Y')}" %>
      <span><%= "#{log.start_time.strftime('%I:%M %p')} - #{log.end_time.strftime('%I:%M %p')}" %></span>
    </p>

  <% else %>
    <i class="far fa-calendar-alt" style="font-size: 42px"></i>

    <div style="display: flex; flex-direction: column">
      <p>
        <%= "#{log.start_time.strftime('%b %d, %Y')}" %>
        <span><%= "#{log.start_time.strftime('%I:%M %p')}" %></span>
      </p>

      <p>
        <%= "#{log.end_time.strftime('%b %d, %Y')}" %>
        <span><%= "#{log.end_time.strftime('%I:%M %p')}" %></span>
      </p>
    </div>
  <% end %>
</div>

<!-- Card Weather Info -->
<div class="card">
  <!-- Card's Headers  -->
  <div class="card-info-headers">
    <!-- Image of the Weather of the Log's Location -->
    <div style="background-image: url(http://openweathermap.org/img/wn/<%= log.weather_icon %>@2x.png)"
         class="weather-icon">
    </div>

    <h3><%= log.weather_description.capitalize %></h3>
  </div>

  <!-- Card's Content -->
  <div class="card-info-content">
    <table>
      <tr>
        <td>Temperature</td>
        <td></td>
        <td><%= log.temperature.blank? ? "--" : "#{log.temperature} °C" %></td>
      </tr>

      <tr>
        <td>Air pressure</td>
        <td></td>
        <td><%= log.air_pressure.blank? ? "--" : "#{log.air_pressure} Pa" %></td>
      </tr>

      <tr>
        <td>Wind Speed</td>
        <td></td>
        <td><%= log.wind_speed.blank? ? "--" : "#{log.wind_speed} m/s" %></td>
      </tr>

      <tr>
        <td>Moon</td>
        <td></td>
        <td><%= (log.moon_phase * 100).round %>%</td>
      </tr>

      <% unless log.rating.nil? %>
        <tr>
          <td>Rating</td>
          <td></td>
          <td><%= "#{log.rating}/10" %></td>
        </tr>
      <% end %>
    </table>

    <% unless log.observation.nil? || log.observation.match?(/\A\s*\Z/) %>
      <p style="margin-top: 8px"><strong>Observations: </strong></p>
      <p><span><%= log.observation %></span></p>
    <% end %>
  </div>
</div>
