<!-- Iterate over the Logs index and display them as cards -->
<% logs.each do |log| %>
  <%= link_to log_path(log) do %>
    <div class="card">
      <div class="card-headers">
        <!-- Card Headers -->
        <div class="card-title-container">
          <h3 class="nowrap"><%= log.label %></h3>
          <h5 class="location-address nowrap"><%= log.location.address_to_display %></h5>
        </div>

        <!-- Log weather image -->
        <div style="background-image: url(http://openweathermap.org/img/wn/<%= log.weather_icon %>@2x.png)"
             class="weather-icon">
        </div>
      </div>

      <hr>

      <!-- Content of the Log -->
      <div class="card-content">
        <div>
          <% if log.catches_count.zero? %>
            <p><strong>Nothing caught</strong></p>

          <% else %>
            <p>
              <strong>Catches :</strong>
              <%= log.catches_count %>
            </p>
          <% end %>

          <% if log.rating.nil? %>
            <p><strong>Not rated</strong></p>

          <% else %>
            <p>
              <strong>Rating :</strong>
              <%= log.rating %>
            </p>
          <% end %>
        </div>

        <div>
          <p>
            <strong>Moon :</strong>
            <%= (log.moon_phase * 100).round %>%
          </p>

          <p><%= log.stat_to_display %></p>
        </div>
      </div>

      <!-- Card footer displaying the Log time/duration -->
      <p class="card-footer-time">
        <%= log.start_time.strftime('%b %d') %> | <%= log.duration.ceil %> h
      </p>
    </div>
  <% end %>
<% end %>

<!-- Pagination to navigate the Logs index -->
<%= will_paginate logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
    previous_label: "&laquo;", next_label: "&raquo;", inner_window: 1, outer_window: 0 %>
