<div style="padding: 20px">
  <h1 class="page-title">All Logs</h1>

  <!-- Modal for the new Log creation -->
  <div style="text-align: left; margin-bottom: -10px">
    <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewLog" }, class: "new-log-modal" do %>
      <i class="fas fa-plus" style="font-size: 28px; color: white"></i>
    <% end %>
  </div>

  <div style="margin: 10px 0">
    <!-- Iterate over the Logs list and display them as Cards -->
    <% @logs.each do |log| %>
      <%= link_to log_path(log) do %>
        <div class="log-card">
          <div class="card-headers">
            <!-- Cards Headers -->
            <div>
              <h3><%= log.location.name_to_display %></h3>
              <h5> <%= log.label %></h5>
            </div>

            <!-- Image of the Weather of the Log's Location -->
            <div style="background-image: url(http://openweathermap.org/img/wn/<%= log.weather_icon %>@2x.png)"
              class="weather-icon">
            </div>
          </div>

          <hr>

          <!-- Content of the Log -->
          <div class="card-content">
            <div class="card-content-info">
              <% if log.catch_count == 0 %>
                <p><strong style="font-size: 17px">Nothing caught</strong></p>
              <% else %>
                <p style="margin-bottom: 5px">
                  <strong style="font-size: 18px">Catches : </strong><%= log.catch_count %>
                </p>
              <% end %>

              <% if log.rating.nil? %>
                <p><strong style="font-size: 17px">Not rated</strong></p>
              <% else %>
                <p style="margin-bottom: 5px">
                  <strong style="font-size: 18px">Rating : </strong><%= log.rating %>
                </p>
              <% end %>
            </div>

            <div class="card-content-stats">
              <p><strong style="font-size: 18px">Moon : </strong><%= (log.moon_phase * 100).round %>%</p>
              <p><%= log.air_pressure %> Pa</p>
            </div>
          </div>

          <!-- Card footer displaying the Log's Time -->
          <p class="log-card-footer-time">
            <%= log.start_time.strftime('%b %d')  %> | <%= (log.end_time - log.start_time).fdiv(60 * 60).ceil %> h
          </p>
        </div>
      <% end %>
    <% end %>

    <!-- Pagination to navigate the index of Logs -->
    <div style="margin-left: 20px">
      <%= will_paginate @logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
        previous_label: "&laquo;", next_label: "&raquo;"
      %>
    </div>
  </div>

  <!-- Modal New Log Form -->
  <div class="modal fade" id="ModalNewLog" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color: white; opacity: 0.9">New Log</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <%= render "logs/form-new", log: @log %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Makes sure that, if an error appears while editing a Log, the error is displayed to the user -->
<% if @log.errors.any? %>
  <script>
    function DisplayLogDateErrorMessage() {
      let errorMessageText = `<%= @log.errors.messages[:end_date].first %>`;
      let startTime = document.getElementById('log_start_time');
      let endTime = document.getElementById('log_end_time');

      if (errorMessageText == "") {
        startTime.className = "form-control is-valid";
        endTime.className = "form-control is-valid";
      } else {
        startTime.className = "form-control is-invalid";
        endTime.className = "form-control is-invalid";

        let errorMessage = document.createElement("div");
        errorMessage.className = "invalid-feedback";
        errorMessage.innerHTML = errorMessageText;

        let nextElement = document.getElementsByClassName("form-group select required log_location")[0];
        let formElement = document.getElementsByClassName("container-log-form")[0];

        formElement.insertBefore(errorMessage, nextElement);
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      DisplayLogDateErrorMessage();
      document.querySelector('[data-target="#ModalNewLog"]').click();
    });
  </script>
<% end %>
