<div style="padding: 20px">
  <div>
    <h1 class="page-title" style="padding: 20px">My Logs</h1>

  </div>
  <div style="text-align: right; margin-right: 25px">
    <%= link_to "Create",id: "modal-button", data: { toggle: "modal", target: "#ModalNewLog" }, style: "margin-left: 15px" do %>
      <i class="fas fa-plus" style="font-size: 30px; color: white"></i>
    <% end %>
    </div>

  <div style="margin: 10px 0">
    <% @logs.each do |log| %>
      <%= link_to log_path(log) do %>
        <div class="log-card">
          <div class="card-headers">
            <h3><%= "#{log.location.site} \##{sprintf '%03d', (log.tag_id)}" %></h3>
          </div>

          <hr>

          <div class="card-content">
            <div class="card-content-info">
              <p style="font-size: 17px; font-weight: 600; margin-bottom: 16px">
                  <%= log.start_time.strftime('%B %d')  %> (<%= (log.end_time - log.start_time).fdiv(60 * 60).ceil %>h)
              </p>

              <% if log.catch_count == 0 %>
                <p style="margin-bottom: 16px"> <strong style="font-size: 17px">Nothing caught</strong> </p>
              <% else %>
                <p style="margin-bottom: 16px"> <strong style="font-size: 17px">Catches:</strong> <%= log.catch_count %> </p>
              <% end %>

              <% if log.rating.nil? %>
                <p style="margin-bottom: 16px"> <strong style="font-size: 17px">Not rated</strong> </p>
              <% else %>
                <p style="margin-bottom: 16px"> <strong style="font-size: 17px">Rating:</strong> <%= log.rating %></p>
              <% end %>
            </div>

            <div class="card-content-stats">
              <div style="background-image: url(http://openweathermap.org/img/wn/<%= log.weather_icon %>@2x.png); background-position: center; background-repeat: no-repeat; -webkit-user-select: none; width: 70px; height: 50px; margin-bottom: 8px">
              </div>
              <p> <strong style="font-size: 17px">Moon: </strong> <%= (log.moon_phase * 100).round %>%</p>
              <p> <%= log.air_pressure %> Pa</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div style="margin-left: 20px">
      <%= will_paginate @logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: "&laquo;", next_label: "&raquo;" %>
    </div>
  </div>

  <!-- Modal Create Log Form -->
  <div class="modal fade" id="ModalNewLog" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color: #010038">New Log</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= render "logs/form-new", log: @log %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @log.errors.any? %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById("modal-button").click();
    });
  </script>
<% end %>
