<!-- Log information -->
<div id="log-information">
  <%= render "logs/information", log: @log %>
</div>

<!-- Catches list -->
<div id="catches-list">
  <%= render "catches/container", catches: @log.catches %>
</div>

<!-- Buttons for Log actions: Delete, Edit and New -->
<div class="card-actions">
  <%=
    link_to "Delete",
    data: {
      toggle: "modal",
      target: "#ModalDeleteLog"
    } do
  %>
    <i class="far fa-trash-alt"></i>
  <% end %>

  <%= link_to "Edit", data: { toggle: "modal", target: "#ModalEditLog" } do %>
    <i class="far fa-edit"></i>
  <% end %>

  <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewLog" } do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>

<!-- Modal Catches#new -->
<div class="modal fade" id="ModalNewCatch" role="dialog">
  <%= render "catches/form", catch: Catch.new %>
</div>

<!-- Modal Logs#destroy -->
<div class="modal modal-delete fade" id="ModalDeleteLog" role="dialog">
  <%= render "logs/form-delete" %>
</div>

<!-- Modal Logs#edit -->
<div class="modal fade" id="ModalEditLog" role="dialog">
  <%= render "logs/form", log: @log %>
</div>

<!-- Modal Logs#new -->
<div class="modal fade" id="ModalNewLog" role="dialog">
  <%= render "logs/form", log: Log.new %>
</div>
