<!-- Title -->
<div class="page-title">
  <h1><%= location.spot %></h1>
  <h2 class="location-address" ><%= location.address_to_display %></h2>
</div>

<!-- Location weather info -->
<div class="card" style="margin-bottom: 20px">
  <!-- Card Headers  -->
  <div class="card-info-headers">
    <!-- Image of the Location weather -->
    <div style="background-image: url(http://openweathermap.org/img/wn/<%= location_weather[:weather_icon] %>@2x.png)"
         class="weather-icon">
    </div>

    <h3><%= location_weather[:weather_description].capitalize %></h3>
  </div>

  <!-- Card Content -->
  <div class="card-info-content">
    <table style="margin: 0 auto">
      <!-- Address -->
      <tr>
        <td>Country</td>
        <td></td>
        <td><%= location.country.nil? ? "NA" : location.country.truncate(20) %></td>
      </tr>

      <tr>
        <td>State</td>
        <td></td>
        <td><%= location.state.nil? ? "NA" : location.state.truncate(20) %></td>
      </tr>

      <tr>
        <td>City</td>
        <td></td>
        <td><%= location.city.nil? ? "NA" : location.city.truncate(20) %></td>
      </tr>

      <tr>
        <td><hr></td>
        <td></td>
        <td><hr></td>
      </tr>

      <!-- Current weather conditions -->
      <tr>
        <td>Temperature</td>
        <td></td>
        <td><%= "#{location_weather[:temperature]} °C" %></td>
      </tr>

      <tr>
        <td>Air pressure</td>
        <td></td>
        <td><%= "#{location_weather[:air_pressure]} Pa" %></td>
      </tr>

      <tr>
        <td>Wind Speed</td>
        <td></td>
        <td><%= "#{location_weather[:wind_speed]} m/s" %></td>
      </tr>

      <tr>
        <td>Moon Phase</td>
        <td></td>
        <td><%= "#{location_weather[:moon_phase]}%" %></td>
      </tr>

      <!-- Stats -->
      <% unless location.logs_count.zero? %>
        <tr>
          <td><hr></td>
          <td></td>
          <td><hr></td>
        </tr>

        <tr>
          <td>Num Logs</td>
          <td></td>
          <td><%= location.logs_count %></td>
        </tr>

        <tr>
          <td>Last Log</td>
          <td></td>
          <td><%= time_ago_in_words(location.logs.map(&:end_time).sort.last).truncate(20) %> ago</td>
        </tr>

        <tr>
          <td>Num Catches</td>
          <td></td>
          <td><%= location.catches_count %></td>
        </tr>

        <tr>
          <td>Weight Caught</td>
          <td></td>
          <td><%= rounded_weight(location.catches_weight) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
