<!-- Iterate over the Locations index and display them as cards -->
<% locations.each do |location| %>
  <%= link_to location_path(location) do %>
    <div class="card">
      <div class="card-headers">
        <!-- Card Headers -->
        <div class="card-title-container">
          <h3 class="nowrap"><%= location.spot %></h3>
          <h5 class="location-address nowrap"><%= location.address_to_display %></h5>
        </div>

        <div class="country-code">
          <h3><%= location.country_code %></h3>
        </div>
      </div>

      <hr>

      <!-- Card Content -->
      <div class="card-content">
        <div>
          <% if location.logs_count.zero? %>
            <p><strong>No logs</strong></p>

          <% else %>
            <p>
              <strong>Logs : </strong>
              <%= location.logs_count %>
            </p>

            <p>
              <strong>Last : </strong>
              <%= time_ago_in_words(location.logs.map(&:end_time).max) %> ago
            </p>
          <% end %>
        </div>

        <div>
          <% if location.catches_count.zero? %>
            <p><strong>No Catches</strong></p>

          <% else %>
            <p>
              <%= location.catches_count %>
              Fish
            </p>

            <p><%= rounded_weight(location.catches_weight) %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- Pagination to navigate the Locations index -->
<%= will_paginate locations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
    previous_label: "&laquo;", next_label: "&raquo;", inner_window: 1, outer_window: 0 %>
