<!-- Iterate over the Locations list and display them as Cards -->
<% locations.each do |location| %>
  <%= link_to location_path(location) do %>
    <div class="card">
      <div class="card-headers">
        <!-- Cards Headers -->
        <div>
          <h3><%= location.name_to_display %></h3>
          <h5 class="locations-spot"><%= location.spot %></h5>
        </div>

        <div style="margin: 0 15px 5px">
          <h3 style="font-size: 32px"><%= location.country_code %></h3>
        </div>
      </div>

      <hr>

      <!-- Content of the Location -->
      <div class="card-content">
        <div>
          <% if location.logs_count.zero? %>
            <p><strong>No logs</strong></p>

          <% else %>
            <p>
              <strong>Logs : </strong>
              <%= location.logs_count %>
            </p>

            <p>
              <strong>Last : </strong>
              <%= time_ago_in_words(location.logs.map(&:end_time).sort.last) %> ago
            </p>
          <% end %>
        </div>

        <div>
          <% if location.catch_count.zero? %>
            <p><strong>No Catches</strong></p>

          <% else %>
            <p>
              <%= location.catch_count %>
              Fish
            </p>

            <p><%= rounded_weight(location.catch_weight) %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- Pagination to navigate the index of Locations -->
<%= will_paginate locations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
    previous_label: "&laquo;", next_label: "&raquo;", inner_window: 1, outer_window: 0 %>
