<%= link_to location_path(location[:instance]) do %>
  <li>
    <div class="location-info">
      <!-- Location name -->
      <h6 class="nowrap">
        <span><%= location[:instance].spot %></span>

        <% if location[:instance].logs_count.zero? %>
          – no logs
        <% elsif location[:instance].logs_count == 1 %>
          – 1 log
        <% else %>
          <%= "– #{location[:instance].logs_count} logs" %>
        <% end %>
      </h6>

      <!-- Location address -->
      <p class="location-address nowrap">
        <%= location[:instance].address_to_display %>
      </p>
    </div>

    <!-- Location current weather image -->
    <div
      style="background-image: url(http://openweathermap.org/img/wn/<%= location[:weather][:weather_icon] %>@2x.png)"
      class="weather-icon"
    >
    </div>
  </li>
<% end %>
