<!-- Location information -->
<div id="location-information">
  <%= render "locations/information", location: @location, location_weather: @location_weather %>
</div>

<!-- Links for the Location actions: Predict, Logs index, Delete, Edit and New -->
<div class="card-actions">
  <% unless @location.logs_count < 5 %>
    <div id="location-prediction">
      <%= link_to location_prediction_path(@location), remote: true do %>
        <i class="fas fa-calculator"></i>
      <% end %>
    </div>
  <% end %>

  <%= link_to location_logs_path(@location) do %>
    <i class="fas fa-stream"></i>
  <% end %>

  <%= link_to "Delete", data: { toggle: "modal", target: "#ModalDeleteLocation" } do %>
    <i class="far fa-trash-alt"></i>
  <% end %>

  <%= link_to "Edit", data: { toggle: "modal", target: "#ModalEditLocation" } do %>
    <i class="far fa-edit"></i>
  <% end %>

  <%= link_to "Create", data: { toggle: "modal", target: "#ModalNewLocation" } do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>

<!-- Modal Delete Location Form -->
<div class="modal modal-delete fade" id="ModalDeleteLocation" role="dialog">
  <%= render "locations/form-delete" %>
</div>

<!-- Modal Edit Location Form -->
<div class="modal fade" id="ModalEditLocation" role="dialog">
  <%= render "locations/form", location: @location %>
</div>

<!-- Modal New Location Form -->
<div class="modal fade" id="ModalNewLocation" role="dialog">
  <%= render "locations/form", location: Location.new %>
</div>
