<!DOCTYPE html>
<html>
  <head>
    <title>Hook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <script src="https://kit.fontawesome.com/4b1a9fac52.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div style="height:calc(100% - 52px); width: 100%; overflow: scroll">
      <%= render 'shared/flashes' %>

      <%= yield %>
    </div>

    <%= render 'shared/bottom_navbar' if user_signed_in? %>
  </body>
</html>
