<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="color: white; opacity: 0.9"> <%= catch.fish.common_name %> </h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="fish-card" style="background-color: #061f35">
        <div class="card-fish-img">
          <%= image_tag catch.fish.picture_url %>
        </div>

        <div class="fish-card-info" style="background: none">
          <p style="font-size: 20px; border: none; margin: 0 0 0 10px">
            Minimum size: <%= catch.fish.display_legal_dimensions %>
          </p>

          <p style="color: #9BDDF9; padding: 0">
            <%= catch.fish.description %>
          </p>

          <%= link_to "Learn more", catch.fish.url, target: "_blank", class: "fish-more-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
