<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= catch.fish.name %></h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="fish-card" style="background-color: #061f35">
        <div class="card-fish-img">
          <%= image_tag catch.fish.picture_url %>
        </div>

        <div class="fish-card-info" style="padding: 10px; background: none">
          <p style="font-size: 20px; font-style: normal; margin: 0 0 5px 10px">
            Minimum size: <%= catch.fish.display_legal_dimensions %>
          </p>

          <p style="font-style: normal; padding: 5px 0 0 2px">
            <%= catch.fish.description %>
          </p>

          <%= link_to "Learn more", catch.fish.url, target: "_blank", class: "fish-more-info",
              style: "margin: -5px" %>
        </div>
      </div>
    </div>
  </div>
</div>
