<div class="container">
  <%= form_tag fish_index_path, method: :get do %>
    <div class="d-flex" style="margin-top: 20px">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search-input",
        placeholder: "Find a fish",
        autocomplete: "off"
      %>

      <%= submit_tag "Search", class: "btn btn-primary btn-flat" %>
    </div>
  <% end %>

  <% @fish.each do |fish| %>
    <%= link_to fish_path(fish), data: { id: fish.id }, class:"fish_box" do %>
      <div class="fish-card">
        <%= image_tag fish.picture_url %>

        <div class="fish-card-infos">
          <h2><%= fish.common_name.upcase %></h2>

          <p>
            Minimum size:
            <% if fish.legal_weight == 0 && fish.legal_size == 0  %>
              NA
            <% end %>

            <% unless fish.legal_weight == 0 %>
              <% if fish.legal_weight < 1000 %>
                <%= "#{fish.legal_weight} gr" %>
              <% else %>
                <%= "#{fish.legal_weight.fdiv(1000).tap{ |num| break num.to_i == num ? num.to_i : num }} kg" %>
              <% end %>
            <% end %>

            <% if fish.legal_weight != 0 && fish.legal_size != 0  %>
              <%= " / " %>
            <% end %>

            <% unless fish.legal_size == 0 %>
              <%= "#{fish.legal_size} cm" %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
