<div class="container">
  <%= link_to 'Back', fish_index_path, class: "btn btn-primary mt-2" %>
    <div class="fish-card-full">
      <%= image_tag "yftuna.png" %>
      <div class="fish-card-infos">
        <h2><%= @fish.common_name.upcase %></h2>

            <% if @fish.legal_size == 0%>
            <p><%= @fish.legal_weight %>kg</p>
            <% else %>
            <p><%= @fish.legal_size %>cm</p>
            <% end %>
        <p><%= @fish.description %></p>
      </div>
    </div>
</div>
