<%= link_to 'Back', fish_index_path, class: "btn btn-flat", style:"margin: 10px" %>

<div class="fish-card">
  <div class="card-fish-img">
    <%= image_tag @fish.picture_url %>
  </div>

  <div class="fish-card-info" style="padding-bottom: 15px">
    <h2><%= @fish.common_name.upcase %></h2>

    <p style="padding-left: 20px; margin-bottom: 12px">
      Minimum size:
      <%= @fish.display_legal_dimensions %>
    </p>

    <p style="font-style: normal; padding: 0 15px"><%= @fish.description %></p>

    <%= link_to "Learn more", @fish.url, target: "_blank", class: "fish-more-info" %>
  </div>
</div>
